*.o

lexical-analyzer-generator/.idea/
lexical-analyzer-generator/cmake-build-debug/
lexical-analyzer-generator/test/
lexical-analyzer-generator/lexical_analyzer
lexical-analyzer-generator/log.txt

parser-generator/.idea
parser-generator/cmake-build-debug
parser-generator/CMakeLists.txt
parser-generator/test/
parser-generator/parser_generator

