*.o

lexical-analyzer-generator/.idea/
lexical-analyzer-generator/cmake-build-debug/
lexical-analyzer-generator/test/
lexical-analyzer-generator/lexical_analyzer
lexical-analyzer-generator/log.txt

.idea/
cmake-build-debug/
parser_generator

parser-log.txt
